   
   <div class="container">
   <div class="row">
   
<div ng-repeat="pmv in pmvlist">
<div ng-repeat="p in pmv.stulist">


            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#">{{p.sysname}}</a>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
   </div>  </div>      
            </div>
            </div>
