   <div class="container" >
   
    <h4 class="title">>选择座位</h4>


    <table class="table" style="width: 30%">
        <tr>
            <td class="padding-bottom"></td>
            <td class="padding-bottom" ng-repeat="col in cols track by $index" ng-bind="col"></td>
        </tr>
        <tr ng-repeat="row in rows">
            <td class="padding-right" ng-bind="row"></td>
            <td class="seat" ng-repeat="col in cols" ng-click="seatClicked(row + col)" ng-switch on="getStatus(row + col)">
                <img ng-switch-when="selected" src="images/seat/seat_selected.png">
                <img ng-switch-when="reserved" src="images/seat/seat_reserved.png">
                <img ng-switch-default src="images/seat/seat_available.png">
            </td>
        </tr>
    </table>

    <div class="legend">
        <img src="images/seat/seat_available.png">可选的
        <img src="images/seat/seat_reserved.png" class="padding-left">已售的
        <img src="images/seat/seat_selected.png" class="padding-left">所选的
    </div>
<pre>{{selected}} {{playid}} {{price}}</pre>
<form action="tm.action" method="post">
<input type="hidden" value="1725" name="m"/>
<input type="hidden" value="{{selected}}" name="seat"/>
<input type="hidden" value="{{price}}" name="price"/>
<input type="hidden" value="{{playid}}" name="playid"/>
<input type="submit" class="btn btn-fill btn-primary" value="提交订单" />
<button ng-click="clearSelected()" class="btn btn-fill btn-warning" type="button">清除所选</button>
</form>

    <div class="buttons">
        
     <!--    <button ng-click="showSelected()">Show selected seats!</button> -->
    </div>
</div>

    
    
    

